body{
    max-width: 1920px;
    width: 100%;
    background-color: teal;
    color: black;
}
.text-muted {
    --bs-text-opacity: 1;
    color: black!important;
}



a {
    color: white;
    text-decoration: none;
}